
.caption { width: 100%; text-align: right; display: block; float: right; padding-top: 10px; padding-bottom: 10px; font-style: italic;}

.tt-about 	{ background-color: #c24c4c }
.tt-welcome 	{ background-color: #0885d4 }
.tt-insider 	{ background-color: #fa7414 }
.tt-wild-alaska	{ background-color: #3cab5d }
.tt-connect-with-us { background-color: #b462bd }


.main-body {
    font-size:15px;
    width: 90%;
    margin: 0% 5%;
    margin-top: 15px; }


nav {
    margin-bottom: 10px; }

.nav {
    border-radius: 0.25em; }

.padded-nav-link {
    padding: 2px 6px !important; }

.nav-button {
    font-weight: 600;
    padding: 4px;
    margin: 0px; }

    .page-title {
        font-weight: 600;
        font-size: 1.9em;
        color: #ffffff;
        padding: 10px;
        margin: 0px; }

    .title-full { width: 100%; margin: 0; }
    h1 { width: 100%; padding-top: 20px; margin-top: 20px; padding-bottom: 10px; border-top: 1px solid #cccccc; }
    h3 { width: 100%; padding-top: 20px; margin-top: 20px; padding-bottom: 10px; border-top: 1px solid #eeeeee; color: #999999; }

.popover {
    max-width:800px; }

.popoveradjust {
    padding: 5px 0 0 0px; }



.dropdown-menu 		{ margin-top: 8px; }

.dropdown-menu-about 	a:hover { background-color: #fce2de; }
.dropdown-menu-welcome 	a:hover { background-color: #d2f1fc; }
.dropdown-menu-insider 	a:hover { background-color: #fae3cf; }
.dropdown-menu-wild 	a:hover { background-color: #e1fadc; }
.dropdown-menu-connect 	a:hover { background-color: #edcffa; }

/*
.navbar-nav>li>a {
    padding-top: 5px !important;
    padding-bottom: 5px !important; }

.nav>li>a:focus, .nav>li>a:hover {
    color: white;
    text-decoration: none;
    background-color: transparent !important; }
*/


.dropdown-menu-about 	{ background-color: #ffffff; border: 1px solid #c24c4c;} 
.dropdown-menu-welcome 	{ background-color: #ffffff; border: 1px solid #0885d4;}
.dropdown-menu-insider 	{ background-color: #ffffff; border: 1px solid #fa7414;}
.dropdown-menu-wild 	{ background-color: #ffffff; border: 1px solid #3cab5d;}
.dropdown-menu-connect 	{ background-color: #ffffff; border: 1px solid #b462bd;}


.dropdown-submenu-about, 	.dropdown-submenu-about:hover 	{ color: #c24c4c;} 
.dropdown-submenu-welcome, 	.dropdown-submenu-welcome:hover { color: #0885d4;}
.dropdown-submenu-insider, 	.dropdown-submenu-insider:hover	{ color: #fa7414;}
.dropdown-submenu-wild, 	.dropdown-submenu-wild:hover 	{ color: #3cab5d;}
.dropdown-submenu-connect, 	.dropdown-submenu-connect:hover { color: #b462bd;}

.about { color: #c24c4c;;}
.welcome { color: #0885d4; }
.insider { color: #fa7414;}
.wild { color: #3cab5d; }
.connect { color: #b462bd; }


.dropdown-item { font-size: 1.2em; padding-bottom: 8px; padding-top: 8px;}
.dropdown-submenu { font-size: 1.2em; padding-left: 40px; font-weight: normal; }

.nav-item { margin-right: 6px; margin-bottom: 5px; }

.lead { font-size: 1.5em; }
.card-body, p { font-size: 1.1em; }
 .card-text { font-size: 0.9em }
.btn { font-size: 1.0em; }

.jumbotron-container {
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
filter: opacity(60%);
}

.resume-jumbotron {
background-image: url(https://content.codecademy.com/courses/asp-dot-net/boots.png);
}

.layer {
background-color: #512F1E;
position: relative;
}

.jumbotron-header {
font-weight: bold;
}


.gallery-caption { padding: 10px; }